{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block nav-home %}<li class="active"><a href="/images/index" data-nav-section="home"><span>Home</span></a></li>{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
	<section id="fh5co-home" data-section="home" style="background-image: url(/static/tester/images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">365Farmnet</h1>
							<h2 class="to-animate">SSO Tester</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>


	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row row-bottom-padded-sm">

				{% for user in user_list %}		
					{{ user }} - {{ user.access_token_expiry }} - {{ user.access_token_valid }}
					<form action="{% url 'tester:refresh' user.id %}" method="post">
						{% csrf_token %}
						<input name="refresh_token" id="refresh_token" value="{{ user.refresh_token }}" type="hidden">
						<input type="submit" value="Refresh">
					</form>	
					<hr />
				{% endfor %}
			</div>
		</div>
	</section>
	
	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

				<form action="{% url 'tester:login' %}" method="post">
				{% csrf_token %}
				<input name="tan_field" id="tan_field" value="">
				<label for="tan_field">TAN</label><br>
				<input type="submit" value="Login">
				</form>					
			</div>
		</div>
	</section>

{% endblock %}